@import "../../asset/styles/media";

.info {
  background-color: #e74c3c;
  color: whitesmoke;
}

#mention {
  padding: 1rem;
  font-family: Arial, sans-serif;
  text-align: justify;
  text-decoration: line-through;
  font-size: 1rem;
  @include breakpoint(smartphone) {
    margin-left: 0;
  }
}
