@media screen and (max-width: 576px) {
#titre{
    position: relative;
    top: 1.4rem;
    font-family: 'arbonnie-webfont';
    font-size: 1.5rem;
}
.titre1{
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
}
.titre2{
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
    margin-bottom: 5px;
}


}