@import "../../asset/styles/modal-presentation-pdf";

.img-restaurant {
  min-height: 70vh;
  background-image: url("../../asset/images/restaurant/restaurant-1.jpg");
  background-size: cover;
}

.img-degustation {
  min-height: 70vh;
  background-image: url("../../asset/images/restaurant/restaurant-4.jpg");
  background-size: cover;
}

.img-brasserie {
  min-height: 70vh;
  background-image: url("../../asset/images/restaurant/restaurant-5.jpg");
  background-size: cover;
}