@import "../../asset/styles/variables";
@import "../../asset/styles/media";

button.active {
    background-color: #333333 !important;
    color: $gold !important;
  &:hover {
  }
}

button.nav-link {
  &:hover {

    color:$gold;
    outline: none !important;
  }
}

button {
  h5 {
    @include breakpoint(smartphone) {
      font-size: 1em !important;
    }
  }
}

div.active {
  border-top: 2rem solid #333333 !important;
  border-left: 1rem solid #333333 !important;
  border-right: 1rem solid #333333 !important;
  border-bottom: 4rem solid #333333 !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.gold {
  color: $gold !important;
}

.com-header {
  background-color: #666666;
  color: white;
  .date {
    font-size: 0.8rem;
  }
}


button.btn.btn-dark {
  &:focus {
    box-shadow: none !important;
  }
}
