.info {
    background-color: #e74c3c;
    color: whitesmoke;
}
.titre {
    position: relative;
    font-family: "ARIAL", "sans-serif";
    left: 2rem;
}

p {
    font-family: "ARIAL", "sans-serif";
    position: relative;
    text-decoration: line-through;
    text-align: justify;
    font-size: 1.1rem;
}


#cgv {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

