@import "./src/asset/styles/variables";

#navbar-left {
  margin-top: 10vh;
  position: fixed;
  z-index: 100000;
  left: -250px;
  background-color: rgba(255, 255, 255, 0.71);
  height: 90vh;
  width: 180px;
  box-shadow: 0 3px 2px 2px rgba(64, 64, 64, 0.26);
  transition-duration: 0.5s;
  .search{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    input {
      width: 100%;
      outline: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid $gray-500;
      background-color: rgba(255, 255, 255, 0);
      &:focus {
        border-bottom: 2px solid $gray-800;
      }
    }
  }
  .navLink {
    padding: 1rem;
    min-height: 100%;
    a {
      color: $gray-700;
      margin: 20rem 1rem;
      &:hover {
        color: #444444;
        text-decoration: underline;
      }
    }
  }
}