@import "node_modules/bootstrap/scss/bootstrap";
@import "src/asset/component/navbar-top/navbar-top";
@import "src/asset/component/navbar-left/navbar-left";
@import "src/asset/component/footer/footer";
@import "media";
@import "base";
@import "variables";

.carousel-indicators, .carousel-caption {
  margin-bottom: 10rem !important;
}

.carousel-inner img{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}