@import "node_modules/bootstrap/scss/bootstrap";
@import "src/asset/component/navbar-top/navbar-top";
@import "src/asset/component/navbar-left/navbar-left";
@import "src/asset/component/navbar-bottom/navbar-bottom";
@import "src/asset/component/footer/footer";
@import "custom-bt4";
@import "media";
@import "base";
@import "variables";

.navbar-top {
  padding-top: 10vh;
  height: 100vh;
}

.top-of-page {
  padding-top: 10vh;
}
