select {
  padding: 0.5rem;
  border: none;
  background-color: whitesmoke;
  border-bottom: 2px solid #666666;
  outline: none;
}

button {
  border: none;
  padding: 1rem 2rem;
  background-color: #333333;
  color: white;
  &:hover {
    transition-duration: 0.3s;
    background-color: #666666;
  }
}