@import "../../asset/styles/media";

.block {
  min-height: 75vh;
  justify-content: center;
}


.img-suites {
  min-height: 75vh;
  background-image: url("../../asset/images/chambres/chambres-4.jpg");
  background-size: cover;
}

.img-deluxe {
  min-height: 75vh;
  background-image: url("../../asset/images/chambres/chambres-3.jpg");
  background-size: cover;
}

.img-confort {
  min-height: 75vh;
  background-image: url("../../asset/images/chambres/chambres-2.jpg");
  background-size: cover;
}
.img-classic {
  min-height: 75vh;
  background-image: url("../../asset/images/chambres/chambres-1.jpg");
  background-size: cover;
}

.block{
  min-height: 80vh;
}

.title-section {
  text-align: center;
  width: 100%;
  background-color: #606060;
  color: white;
  padding-top: 0.5rem ;
}

.a-btn {
  background-color: #333333;
  padding: 1rem;
  color: whitesmoke;
  &:hover {
    background-color: #666666;
    transition-duration: 0.3s;
    color: whitesmoke;
  }
}

.block-info {
  max-height: 70vh;
}

.descripton-accueil {
  display: none;
  font-style: italic;
  @include breakpoint(laptop) {
    display: flex;
  }
}

.text-desciption {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

.text-start {
  font-size: 0.7rem;
  @include breakpoint(tablette) {
    font-size: 1rem;
  }
}


@media (max-width: 350px) {
  .text-desciption {
    display: none;
  }
}